body, html {
	height: 100%;
}

body, html {
	background: url("../images/bgLogin2.jpg") no-repeat;
	background-size: cover;
	min-height: 100%;
}

.loginForm input {
	border-radius: 5px;
	width: 78%;
}
.loginForm input::placeholder {
	color: gray;
	text-align: center;
	
}



.dtm {
	color: white;
	font-size: 35px;
	font-family: fantasy;
	font-variant: petite-caps;
	text-align: center;
	background-color: #39B9BA;
}

.btn {
	background-color: #39B9BA;
	color: white;
}

.loginForm {
	/* background-color: #c8c1d1e3; */
	background: linear-gradient(#cdc9d8, #403b3885);
	width: 30%;
	float: right;
	margin-right: 35%;
	margin-top: 10%;
	border-radius: 5px;
	box-shadow: 1px 1px 20px 7px #104e5dc4;
}

.loginForm form {
	margin-left: 15%;
	margin-bottom: 4%;
	margin-top: 15%;
}

.loginForm .form {
	margin-left: 15%;
	margin-bottom: 4%;
	margin-top: 15%;
}


.shell {
	margin-bottom: 4%;
	margin-bottom: 4%;
	margin-top: 18px;
}

.registermodule {
	display: none;
}



.footer {
	background-color: #000000d4;
	color: antiquewhite;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding-top: 6px;
	padding-bottom: 12px;
}

.btnset {
	margin-left: 60px;
	margin-top: 20px;
}

.msg{
	font-size: 18px;
    float: right;
    margin-right: 133px;
    margin-bottom: 8px;
    color: red;
}